<!-- 
<div class="">
  
  <div class="row">
    <div class="col-md-3 left-menu">
      <div *ngFor="let key of keys(listResult.data)">
         <input type="checkbox" name="{{key}}" /> <span>{{key}}</span>
      </div>
    </div>
    <div class="col-md-9">
      <ul>
        <li *ngFor="let key of keys(listResult.data)">
           <b>{{key}}</b>
           <div>
             {{listResult.data[key] | json}}
           </div>
        </li>
      </ul>
    </div>
  </div>
</div>
  	-->
<div class="x_content">
  <ul class="list-unstyled timeline">
    <li>
      
    </li>
    <li *ngFor="let key of keys(listResult.data)">
      <div *ngIf="listResult.data[key].length" class="block">
        <div class="tags">
          <a href="" class="tag">
            <span>{{key}}</span>
          </a>
        </div>
        <div class="block_content">
          <h2 class="title">
              <a>{{key}}</a>
          </h2>
          <div class="byline">
            <span>Total</span>  <a>{{listResult.data[key].length}}</a>
            <a href="">sortByName</a>
          </div>
          	<span *ngFor="let term of listResult.data[key] | orderby: ['-w']" >
          		<a data-toggle="tooltip" data-placement="top" title="Weight: {{term.w}}" href="searchMethod('')">
          			{{term.name}}
          		</a>
          	</span>
        </div>
      </div>
    </li>
  </ul>
</div>